worker_processes auto;
events { worker_connections 1024; }

http {
    upstream app_servers {
        server {{ hostvars['app1']['ansible_host'] }}:{{ app_port }};
        server {{ hostvars['app2']['ansible_host'] }}:{{ app_port }};
    }

    server {
        listen 80;

        location / {
            proxy_pass http://app_servers;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        # WebSocket proxy configuration
        location /ws/ {
            proxy_pass http://app_servers; # This should point to the app servers handling WebSocket
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            # WebSocket specific headers
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
        }
    }
}